@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✔ Headings: font-heading (DM Serif Display)
✔ Body Text: font-body (Montserrat)
✔ Background: bg-secondary (#F5F5F5)
✔ Text: text-primary (#333333)
✔ Accents (Buttons, Highlights): text-accent (#C19A6B)
✔ Borders & Lines: border border-border (#D1BFA7) */

body {
  margin: 0;
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h {
  font-family: "DM Serif Display";
}

/*
 *{
 background-color: #F5F5F5; 
}
 */
